/* Fresh - Fresh and vibrant color scheme */
:root[data-theme="fresh"] {
  --hi-GREEN_500: #10B981;
  --hi-GREEN_600: #059669;
  --hi-GREEN_50: #ECFDF5;
  --hi-SLATE_900: #0F172A;
  --hi-SLATE_50: #F8FAFC;
}