[package]
name = "hikari-extra-components"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[lib]
doctest = false

[dependencies]
# Workspace dependencies
hikari-components = { path = "../components" }
hikari-palette = { path = "../palette" }
hikari-theme = { path = "../theme" }

# MCP / network and protocols
dioxus.workspace = true
