[package]
name = "hikari-extra-components"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
# 工作区依赖
hikari-components = { path = "../components" }
hikari-palette = { path = "../palette" }
hikari-theme = { path = "../theme" }

# MCP / 网络与协议
dioxus.workspace = true
