$hikari-font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$hikari-font-size-sm: 0.875rem;
$hikari-radius-fui-sm: 4px;
$hikari-radius-fui-md: 6px;
